*{
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Grandstander', cursive;
  font-family: 'Righteous', cursive;


}
title {
  display: none;
}

body {
  display: flex;
  flex-direction: column;


}

header{
  background-color: #FD51BF;
  flex-flow: column;
  color: #FB45B9;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;


}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  width: 100%;
}

.logo {
  height: auto;

}

.navbar {
  width: 100%;
  font-weight: 200;

}

.navbar-nav {
cursor: pointer;
background-color: pink;
font-size: 1.5rem;
}



.navbar.navbar-4 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=black');
text-decoration: overline;
}

.container-fluid nav{
  width: 100%;
  align-items: stretch;
  flex-wrap: nowrap;
}
.n1{
  display: inline-flex;
  height: 25px;
  width: 140px;
  margin: 15px;

}
main .principal1 {
  display: flex;
  flex-wrap: wrap;
  text-align:center;
  width: 100%;
  height: 40vh;
  object-fit: cover;

}
#inicio {
  padding: 10px;
  width: 45%;
  height: 60%;
  margin: 10px;
  display: inline-block;
  text-align: center;
  object-fit: cover;

}

#aside {
  padding: 10px;
  width: 45%;
  height: 60%;
  margin: 10px;
  display: inline-block;
  text-align:center;
  object-fit: cover;
}

.minigaleria {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  text-align: center;
  object-fit: cover center;

}
.minigaleria img {
  height: 200px;
  width: 200px;
  border: 5px solid #BB8FCE;
  object-fit: cover center;
  margin: 5px;
  padding: auto;
  }
.texto {
  height: auto;
  margin: 15px;
}
.promo img{
  height: 200px;
  width: 200px;
  border: 5px solid #BB8FCE;
  object-fit: cover center;
  margin: 5px;
  padding: auto;
  text-align: justify;
}
.imgpromo img {
  height: 200px;
  width: 200px;
  border: 5px solid #BB8FCE;
  object-fit: cover center;
  margin: 5px;
  padding: auto;
  }
footer {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #FD51BF;
  padding-top: 10px;
  margin-top: 10px;
  text-align: justify;
  }

.footer {
  width: 100%;
    text-align: center;
    margin-top: 10px;
}

.nuestrosprod {
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 10px;
  align-content: center;

}
.prod img{
  height: 200px;
  width: 200px;
  border: 5px solid #BB8FCE;
  object-fit: cover;
  margin: 10px;
  padding: auto;
  }

  .MARCAS {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 10px;
    align-content: center;
    object-fit: cover;

  }
  .marca img{
    height: 200px;
    width: 200px;
    border: 5px solid #BB8FCE;
    object-fit: cover;
    margin: 10px;
    padding: auto;
    }

.infoprom {
  display: inline-block;
  height: auto;
  width: auto;
  background-color: white;
}

.Promociones {
      display: inline-flex;
      flex-wrap: wrap;
      padding-top: 10px;
      align-content: center;
      object-fit: cover;
      margin: 10px;

    }
.prodpromo {
  padding: 5px;
  align-items: center;
}
.prodpromo img{
      height: 200px;
      width: 200px;
      border: 5px solid #BB8FCE;
      object-fit: cover;
      margin: 10px;
      padding: auto;
      }

.historia {
  text-align:center;
  height: auto;
  width: 90%;
  padding: 10px;
  margin: 20px;
}
.historia img {
  height: 250px;
  width: 250px;
  border: 5px solid #BB8FCE;
  object-fit: cover;

}
.texto {
  background-color: white;
}
}


.Comprar {
    display: flex;
    flex-direction: column;

    text-align:center;
    height: 70vh;
    width: 95%;
    padding: 10px;
    margin: 20px;
    background-color: white;
  }

@media only screen and (max-width: 800px) {
main {
  display: inline-block;

}
@media only screen and (max-width: 800px) {

#inicio {
  padding: 20px;
  width: 100%;
  height: auto;
  margin: 20px;
  display: inline-flex;
  justify-content: center;


}

  #aside {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 20px;
    display: inline-flex;
    justify-content: center;

    }
}

@media only screen and (max-width: 600px) {
  footer {

      width: 100%;
      padding-top: 5px;

    }
  }
  @media only screen and (max-width: 900px) {
    .n1 {
      display: none;

    }
  }
