*{
  justify-content: center;
  box-sizing: border-box;
  font-family: 'Grandstander', cursive;
  font-family: 'Righteous', cursive;



}
title {
  display: none;
}

body {
  display: flex;
  flex-direction: column;

}

header{
  background-color: #FD51BF;
  flex-flow: column;
  color: #FB45B9;
  margin-bottom: 5px;
  margin-top: 5px;
  display: flex;



}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  width: 100%;

}

.logo {
  height: auto;

}

.navbar {
  width: 100%;
  font-weight: 200;

}

.navbar-nav {
cursor: pointer;
background-color: pink;

}



.navbar.navbar-4 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=black');

}

.container-fluid nav{
  width: 100%;
  align-items: stretch;
  flex-wrap: nowrap;

}
.n1{
  display: inline-flex;
  align-content: center;
  height: 15px;
  width: 130px;
  margin: 15px;



}
a:hover {
  background-color: #F446B5;
}


footer {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #FD51BF;
  padding-top: 10px;
  margin-top: 10px;
  text-align: justify;
  }

.footer {
  width: 100%;
    text-align: center;
    margin-top: 10px;
}

.
.infoprom {
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: white;
}

.Promociones {
      display: inline-flex;
      flex-wrap: wrap;
      padding-top: 10px;
      align-content: center;
      object-fit: cover;
      margin: 10px;

    }
.prodpromo {
  padding: 5px;
  align-items: center;
}
.prodpromo img{
      height: 200px;
      width: 200px;
      border: 5px solid #BB8FCE;
      object-fit: cover;
      margin: 10px;
      padding: auto;
      }





@media only screen and (max-width: 800px) {
main {
  display: inline-block;

}
@media only screen and (max-width: 800px) {

#inicio {
  padding: 20px;
  width: 100%;
  height: auto;
  margin: 20px;
  display: inline-flex;
  justify-content: center;


}

  #aside {
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 20px;
    display: inline-flex;
    justify-content: center;

    }
}

@media only screen and (max-width: 600px) {
  footer {

      width: 100%;
      padding-top: 5px;

    }
  }
  @media only screen and (max-width: 900px) {
    .n1 {
      display: none;

    }
  }
